<div class="container">
  <div class="row justify-content-center">
    {% for organizer in site.data.organizers %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-5">
        <img src="{{ organizer.image }}" 
             alt="{{ organizer.name }}" 
             class="rounded-circle organizer-img mb-3">
        
        <h5>{{ organizer.name }}</h5>
        <p>{{ organizer.affiliation }}</p>
        
        <div>
          {% if organizer.socials %}
            {% for social in organizer.socials %}
              {% assign platform = social[0] %}
              {% assign url = social[1] %}
              <a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="mx-1">
                {% case platform %}
                  {% when 'twitter' %}
                    <i class="fab fa-twitter"></i>
                  {% when 'bluesky' %}
                    <i class="fab fa-bluesky"></i>
                  {% when 'scholar' %}
                    <i class="ai ai-google-scholar"></i>
                  {% when 'linkedin' %}
                    <i class="fab fa-linkedin"></i>
                  {% when 'website' %}
                    <i class="fas fa-globe"></i>
                {% endcase %}
              </a>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
